extends ./layout/index

block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrf-token" content=csrfToken)

block contenido
    .py-2
        h2.text-center.text-2xl.font-extrabold= pagina 

        
        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
            form(id="imagen" class="dropzone border-dashed border-2 w-full min:h-96 h-auto rounded felx-col justify-center items-center" method="POST" action=`/equipos/agregar-imagen-socal/${equipo.id}`)
                input(type="hidden" name="_csrf" value=csrfToken)

                    
            button(id="publicar" class="my-5 w-full py-3 bg-yellow-400 hover:bg-yellow-300 rounded-lg text-white font-bold uppercase cursor-pointe" type="button") Publicar


block  scripts
    script(src="/js/agregarImagen.js") 
    
