extends ./layout/index

block contenido
    
        //-pre= JSON.stringify(equipos, undefined, 2)
        h2.text-center.font-extrabold.justify-center.text-2xl.m-5.uppercase= pagina 

        <table class="table-fixed w-full  p-2 uppercase bg-yellow-400 border rounded-lg shadow-md sm:p-2 dark:bg-yellow-400  text-center text-xs text-white">
                    <thead>
                        <tr>
                        <th>N° Poliza
                        </th>
                        <th>Patente
                        </th>
                        <th>Fecha Inicio
                        </th>
                        <th>Fecha Fin
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        //- <tr>
                        //-     <td>..............................</td>
                        //-     <td>...........</td>
                        //-     <td>.............</td>
                        //-     <td>.............</td>
                        //- </tr>
                        
                    </tbody>
                
                    
        </table>
        if seguros.length
            each seguro in seguros 
            

                






                    <table class="table-fixed w-full  p-2 uppercase bg-yellow-400 border rounded-lg shadow-md sm:p-2 dark:bg-yellow-300  text-center text-xs hover:bg-yellow-200">
                        <thead>
                            <tr>
                            <th>
                                = seguro.numeropoliza
                            </th>
                            <th>
                                = seguro.equipo.patente
                            </th>
                            <th>
                                = formatiarFechaMantencion (seguro.fechainicio)
                            </th>
                            <th>
                                = formatiarFechaMantencion (seguro.fechafin)
                            </th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            //- <tr>
                            //-     <td>..............................</td>
                            //-     <td>...........</td>
                            //-     <td>.............</td>
                            //-     <td>.............</td>
                            //- </tr>
                            
                        </tbody>
                    </table>
        else 
                p.text-center.m-5 No Existen Equipos Asegurados

            


             
            







