extends ./layout/index

block contenido
    
        //-pre= JSON.stringify(equipos, undefined, 2)
        h2.text-center.font-extrabold.justify-center.text-2xl.m-5.uppercase= pagina 


        //- div.w-full
        //-     form(action="/seguros/buscador-admin" method="POST" class="text-center py-2 space-x-2 w-full")
        //-         input(type="hidden" name="_csrf" value=csrfToken)
        //-         label(for="termino" class="text-sm uppercase font-bold text-black w-full")
        //-         input(type="text" id="termino" name="termino" placeholder="Buscar Equipo" class="w-full p-2 rounded-lg shadow text-sm")
        //-         input(type="submit" class= " hidden  bg-yellow-400 hover:bg-yellow-300 text-white uppercase font-bold p-2 cursor-pointer text-xs rounded-xl" value="Buscar") 
            
            
        
        <table id="tblData" class="table-fixed w-full  p-2 uppercase bg-yellow-400 border rounded-lg shadow-md sm:p-2 dark:bg-yellow-400  text-center text-xs text-white">
                    <thead>
                        <tr>
                        <th>Nombre
                        </th>
                        <th>Patente
                        </th>
                        //- <th>Ubicacion
                        //- </th>
                        <th>Faena
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        //- <tr>
                        //-     <td>..............................</td>
                        //-     <td>...........</td>
                        //-     <td>.............</td>
                        //-     <td>.............</td>
                        //- </tr>
                        
                    </tbody>
                
                    
        </table>
        if equipos.length
            each equipo in equipos 

                






                    <table class="table-fixed w-full  p-2 uppercase bg-yellow-400 border rounded-lg shadow-md sm:p-2 dark:bg-yellow-300  text-center text-xs hover:bg-yellow-200">
                        <thead>
                            <tr>
                            <th>
                                = equipo.titulo
                            </th>
                            <th>
                                = equipo.patente
                            </th>
                            //- <th>
                            //-     =equipo.categorium.nombre
                            //- </th>
                            <th>
                                =equipo.faena.nombre
                            </th>
                            </tr>
                        </thead>
                        <tbody>
                            //- <tr>
                            //-     <td>..............................</td>
                            //-     <td>...........</td>
                            //-     <td>.............</td>
                            //-     <td>.............</td>
                            //- </tr>
                            
                        </tbody>
                    </table>

                                        
        


        
        else 
                    p.text-center.m-5 No Existen Equipos 





            


             
            







