footer.container.py-8
    .row
        .col
            p.copyright.text-center.text-md-right.text-xs
                 | Todos Los Derechos Reservados 
    p.text-center.text-xs Desarrollado con &#128151. por Carlos Jerez Flores