header.p-4.bg-yellow-400

    
    .container.mx-auto.felx.justify-between.items-center.text-right
        h1.text-2xl.text-white.font-extrabold.text-center Áridos y Construcciones 
            h2.text-2xl.text-white.font-extrabold.text-center SOCAL 
                span.font-normal.text-xs LTDA.

            


        